build/*
*.lock
!/.mvn/wrapper/maven-wrapper.jar
!gradle-wrapper.jar
*.aux
*.bak
*.chi
*.chs.h
*.class
*.css
*.ctxt
*.dat
*.db
*.dot
*.dyn_hi
*.dyn_o
*.ear
*.eventlog
*.hi
*.hie
*.hp
*.iws
*.jar
*.js
*.launch
*.log
*.nar
*.o
*.pdf
*.png
*.prof
*.ps
*.pydevproject
*.rar
*.svg
*.swp
*.tar.gz
*.tmp
*.war
*.zip
*/build/
*cabal.sandbox.config
*out.txt
*~
*~.nib
.DS_Store
.HTF/
.apt_generated/
.autotools
.buildpath
.cabal-sandbox
.cabal-sandbox/
.cache-main
.classpath
.cproject
.externalToolBuilders/
.factorypath
.ghc.environment.*
.gradle
.gradletasknamecache
.hpc
.hsenv
.idea
.idea/**/contentModel.xml
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources/
.idea/**/dbnavigator.xml
.idea/**/dictionaries
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/**/shelf
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/usage.statistics.xml
.idea/**/workspace.xml
.idea/caches/build_file_checksums.ser
.idea/httpRequests
.idea/replstate.xml
.idea_modules/
.loadpath
.metadata
.mtj.tmp/
.mvn/timing.properties
.project
.recommenders
.recommenders/
.scala_dependencies
.settings/
.springBeans
.stack-work
.stack-work/
.target
.tern-project
.texlipse
.worksheet
PaRMAT
_cache/
_site/
atlassian-ide-plugin.xml
benchmark.csv
bin/
buildNumber.properties
cabal-dev
cabal.project.local
cabal.project.local~
cabal.sandbox.config
cmake-build-*/
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties
dependency-reduced-pom.xml
dist
dist-*
dist-newstyle/
docs_examples
executables/input/amazon
executables/input/gnutella
executables/input/p2p
executables/input/parmat
executables/input/socialNetwork
executables/input/web
fabric.properties
gradle-app.setting
hs_err_pid*
local.properties
out/
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
redex/LVish/compiled/
release.properties
result
stack.yaml
tags
target/
test-results.xml
tmp/
untracked_junk
