<article class="comment level-$level$">
  <div id="comment-$id$">
    $if(reply_allowed)$<input type="submit" value="Reply" name="$name$###$id$">$endif$
    <img class="avatar" src="https://www.gravatar.com/avatar/$email$?d=retro&s=60">
    <span>
      <h4 class="author $if(author_reply)$post-author$endif$" $if(author_reply)$title="Author"$endif$>$name$</h4>
      <div class="date">$date$</div>
    </span>
  </div>
  <div class="message">$message$</div>
</article>
