<div id="comment-container">
  <form method="POST" action="https://qwde.no/staticman_blog/v3/entry/gitlab/andsild/blog/master/comments"
        id="comment-form">
    <h3>Got suggestions, corrections, or thoughts? Post a comment!</h3>
    <fieldset>
      <input name="options[slug]" type="hidden" value="$post_slug$">
      <!-- <input id="comment-redirect" name="options[redirect]" type="hidden" value="$full_url$"> -->
      <!--
      <input type="hidden" name="options[reCaptcha][siteKey]" value="6LfX6DMUAAAAAK_kbS1LfKKy4bNJbsUmyZFADnfV">
      <input type="hidden" name="options[reCaptcha][secret]" value="xE425Zd96uokSf/t1saMqEvj17HfjYJ4+/gv6B4uqA+PxiCjwSb8BUYeWrIBRKrz+YRLCkC53qSa9HYfBNWohuI1+9SBpw5XJ9WJkilJ/DaSjWP9FsKQM9OLdMDgGo8fUQ3hlfs4svgBzItjOitabrjvYI4u0k4RTsq5ccYISeo=">
       -->
      <input type="hidden" id="comment-parent" name="fields[reply_to]" value="">
      <input type="text" id="comment-website" name="fields[website]" value="" placeholder="Do not fill this field" aria-hidden="true">
      <textarea id="comment-text" name="fields[message]" required placeholder="Comment"></textarea>
      <span style="font-size: smaller">
        <a href="https://kramdown.gettalong.org/quickref.html" target="_blank" rel="noopener">Markdown</a> is allowed
      </span>
      <input name="fields[name]" type="text" required placeholder="Name">
      <input name="fields[email]" type="email" required placeholder="Email">
      <div style="font-size: smaller; margin-bottom: 1em;">
          Email is used just to show an avatar image and is not displayed or stored
      </div>
      <!-- <div class="g-recaptcha" data-sitekey="6LfX6DMUAAAAAK_kbS1LfKKy4bNJbsUmyZFADnfV"></div> -->
      <input id="comment-form-submit" type="submit" value="Post Comment">
      <div style="font-size: smaller;">Comments are moderated. They will appear below after they are approved.</div>
      <div id="comment-form-message"></div>
    </fieldset>
  </form>
  <div class="comments">
    <h3>$comment_count$ comments
      <a href="#top" class="top-link" title="Back to top"></a>
    </h3>
    $for(comments)$
      $body$
    $endfor$
  </div>
</div>
<script src="/blog/js/comment-form.js" defer async></script>
<!-- <script src="https://www.google.com/recaptcha/api.js" defer async></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.min.js" defer async></script>
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill@6.1.0/promise.min.js" defer async></script>
