<script src="/blog/js/comment-form.js" defer async></script>
<article>
    <section class="header">
        Posted on $date$
    </section>
    <section>
        $body$
    </section>
$partial("templates/comment-list.html")$
</article>
